<a href="https://colab.research.google.com/github/RohanDoshi21/PICT-TE-SEM6-DSBDAL/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
from pandas import *

In [45]:
df=read_csv('https://raw.githubusercontent.com/RohanDoshi21/PICT-TE-SEM6-DSBDAL/main/Asgn1_melb_data.csv')
df # To check if the data frame is imported correctly

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [46]:
# Tells us about the dataset like mean, deviation, max etc
df.describe()

,Unnamed: 0,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,18396.000000,18396.000000,1.839600e+04,18395.000000,18395.000000,14927.000000,14925.000000,14820.000000,13603.000000,7762.000000,8958.000000,15064.000000,15064.000000,18395.000000
mean,11826.787073,2.935040,1.056697e+06,10.389986,3107.140147,2.913043,1.538492,1.615520,558.116371,151.220219,1965.879996,-37.809849,144.996338,7517.975265
std,6800.710448,0.958202,6.419217e+05,6.009050,95.000995,0.964641,0.689311,0.955916,3987.326586,519.188596,37.013261,0.081152,0.106375,4488.416599
min,1.000000,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,5936.750000,2.000000,6.330000e+05,6.300000,3046.000000,2.000000,1.000000,1.000000,176.500000,93.000000,1950.000000,-37.858100,144.931193,4294.000000
50%,11820.500000,3.000000,8.800000e+05,9.700000,3085.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.803625,145.000920,6567.000000
75%,17734.250000,3.000000,1.302000e+06,13.300000,3149.000000,3.000000,2.000000,2.000000,651.000000,174.000000,2000.000000,-37.756270,145.060000,10331.000000
max,23546.000000,12.000000,9.000000e+06,48.100000,3978.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [47]:
# Tells us if any value in the dataset is null
df.isna()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
18392,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
18393,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
18394,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
18395,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False

In [48]:
# any missing value is filled based on the corresponding value in the previous row
df = df.ffill()
# Fills based on backward values
df = df.bfill()
df

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,79.0,1900.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,150.0,1900.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,436.0,89.0,2010.0,Maribyrnong,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,Maribyrnong,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,866.0,157.0,1920.0,Maribyrnong,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,Maribyrnong,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,362.0,139.0,1950.0,Maribyrnong,-37.81829,144.87404,Western Metropolitan,6543.0

In [49]:
# Shows no of rows and column
df.shape

(18396, 22)

In [50]:
# shows all the datatypes
df.dtypes

Unnamed: 0         int64
Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [51]:
df=df.astype({'YearBuilt': int})
df.dtypes

Unnamed: 0         int64
Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt          int64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [52]:
df

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,79.0,1900,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,150.0,1900,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,436.0,89.0,2010,Maribyrnong,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920,Maribyrnong,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,866.0,157.0,1920,Maribyrnong,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920,Maribyrnong,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,362.0,139.0,1950,Maribyrnong,-37.81829,144.87404,Western Metropolitan,6543.0

In [53]:
# Normalization -> Means Feature Scaling
# Now if a column has greater scale (val) as compared to other column it will have significant impact than the others
df['Price'] = (df['Price'] - df['Price'].min())/(df['Price'].max()-df['Price'].min())
# How the Price column will vary from 0 to 1
df

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,0.156478,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,79.0,1900,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,0.106562,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,0.154795,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,0.085810,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,150.0,1900,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,0.169938,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,0.060292,SP,Greg,26/08/2017,6.8,...,2.0,1.0,436.0,89.0,2010,Maribyrnong,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,0.270892,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920,Maribyrnong,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,0.113853,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,866.0,157.0,1920,Maribyrnong,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,0.134605,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920,Maribyrnong,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,0.108245,VB,Village,26/08/2017,6.3,...,2.0,2.0,362.0,139.0,1950,Maribyrnong,-37.81829,144.87404,Western Metropolitan,6543.0

In [54]:
df['Type'].unique()

array(['h', 't', 'u'], dtype=object)

In [55]:
# Catagoral values to numberical form
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()

dt = df['Type'].to_numpy().reshape(-1,1)
arr = enc.fit_transform(dt).toarray()
# To Add to DataFrame as column
arr = DataFrame(arr)
df = df.join(arr)
df

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,0,1,2
0,1,Abbotsford,85 Turner St,2,h,0.156478,S,Biggin,3/12/2016,2.5,...,79.0,1900,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,1.0,0.0,0.0
1,2,Abbotsford,25 Bloomburg St,2,h,0.106562,S,Biggin,4/02/2016,2.5,...,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,1.0,0.0,0.0
2,4,Abbotsford,5 Charles St,3,h,0.154795,SP,Biggin,4/03/2017,2.5,...,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,1.0,0.0,0.0
3,5,Abbotsford,40 Federation La,3,h,0.085810,PI,Biggin,4/03/2017,2.5,...,150.0,1900,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,1.0,0.0,0.0
4,6,Abbotsford,55a Park St,4,h,0.169938,VB,Nelson,4/06/2016,2.5,...,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,0.060292,SP,Greg,26/08/2017,6.8,...,89.0,2010,Maribyrnong,-37.86393,144.90484,Western Metropolitan,6380.0,0.0,1.0,0.0
18392,23541,Williamstown,96 Verdon St,4,h,0.270892,PI,Sweeney,26/08/2017,6.8,...,157.0,1920,Maribyrnong,-37.85908,144.89299,Western Metropolitan,6380.0,1.0,0.0,0.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,0.113853,S,Buckingham,26/08/2017,12.7,...,157.0,1920,Maribyrnong,-37.72006,145.10547,Northern Metropolitan,1369.0,1.0,0.0,0.0
18394,23545,Yarraville,6 Agnes St,4,h,0.134605,SP,Village,26/08/2017,6.3,...,112.0,1920,Maribyrnong,-37.81188,144.88449,Western Metropolitan,6543.0,1.0,0.0,0.0
18395,23546,Yarraville,33 Freeman St,4,h,0.108245,VB,Village,26/08/2017,6.3,...,139.0,1950,Maribyrnong,-37.81829,144.87404,Western Metropolitan,6543.0,1.0,0.0,0.0

In [60]:
df.rename(columns={0: "h", 1 : "t", 2 : "u"}, inplace=True)
df

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,h,t,u
0,1,Abbotsford,85 Turner St,2,h,0.156478,S,Biggin,3/12/2016,2.5,...,79.0,1900,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,1.0,0.0,0.0
1,2,Abbotsford,25 Bloomburg St,2,h,0.106562,S,Biggin,4/02/2016,2.5,...,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,1.0,0.0,0.0
2,4,Abbotsford,5 Charles St,3,h,0.154795,SP,Biggin,4/03/2017,2.5,...,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,1.0,0.0,0.0
3,5,Abbotsford,40 Federation La,3,h,0.085810,PI,Biggin,4/03/2017,2.5,...,150.0,1900,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,1.0,0.0,0.0
4,6,Abbotsford,55a Park St,4,h,0.169938,VB,Nelson,4/06/2016,2.5,...,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,0.060292,SP,Greg,26/08/2017,6.8,...,89.0,2010,Maribyrnong,-37.86393,144.90484,Western Metropolitan,6380.0,0.0,1.0,0.0
18392,23541,Williamstown,96 Verdon St,4,h,0.270892,PI,Sweeney,26/08/2017,6.8,...,157.0,1920,Maribyrnong,-37.85908,144.89299,Western Metropolitan,6380.0,1.0,0.0,0.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,0.113853,S,Buckingham,26/08/2017,12.7,...,157.0,1920,Maribyrnong,-37.72006,145.10547,Northern Metropolitan,1369.0,1.0,0.0,0.0
18394,23545,Yarraville,6 Agnes St,4,h,0.134605,SP,Village,26/08/2017,6.3,...,112.0,1920,Maribyrnong,-37.81188,144.88449,Western Metropolitan,6543.0,1.0,0.0,0.0
18395,23546,Yarraville,33 Freeman St,4,h,0.108245,VB,Village,26/08/2017,6.3,...,139.0,1950,Maribyrnong,-37.81829,144.87404,Western Metropolitan,6543.0,1.0,0.0,0.0

In [56]:
# Transform 
# df['Type'] = df['Type'].replace({'h': 0, 't': 1, 'u' : 2})\
# This is not a correct way of doing it