<a href="https://colab.research.google.com/github/RohanDoshi21/PICT-TE-SEM6-DSBDAL/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
from pandas import *

In [56]:
df=read_csv('/content/melb_data.csv')
df # To check if the data frame is imported correctly

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13925,17895,Blackburn South,17 Drummond St,3,h,1246000.0,SA,Fletchers,12/08/2017,13.4,...,1.0,2.0,702.0,NaN,NaN,Whitehorse,-37.83504,145.15941,Eastern Metropolitan,4387.0
13926,17898,Boronia,1/347 Boronia Rd,4,t,740000.0,PI,Barry,12/08/2017,25.0,...,2.0,2.0,261.0,NaN,NaN,Knox,-37.85784,145.26022,Eastern Metropolitan,9704.0
13927,17900,Box Hill,13 Patricia St,3,h,1525000.0,PI,VICProp,12/08/2017,10.9,...,1.0,1.0,904.0,NaN,NaN,Whitehorse,-37.82694,145.12465,Eastern Metropolitan,4605.0
13928,17901,Box Hill,2/1129 Whitehorse Rd,2,t,730000.0,PI,McGrath,12/08/2017,10.9,...,2.0,1.0,126.0,NaN,2012.0,Whitehorse,-37.81900,145.13537,Eastern Metropolitan,4605.0
13929,17902,Briar Hill,31 Boyce Av,3,h,830000.0,S,Buckingham,12/08/2017,16.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# Tells us about the dataset like mean, deviation, max etc
df.describe()

,Unnamed: 0,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13930.000000,13930.000000,1.393000e+04,13930.000000,13930.000000,10953.000000,10952.000000,10952.000000,10937.000000,5805.000000,6692.000000,11039.000000,11039.000000,13929.000000
mean,8972.512778,2.891816,1.066465e+06,9.577401,3101.073582,2.846617,1.510135,1.555241,499.212947,144.147653,1963.361925,-37.809422,144.991698,7491.097135
std,5162.322002,0.963099,6.506983e+05,5.023306,79.983811,0.968190,0.691923,0.940013,1470.938157,136.865189,38.010200,0.070489,0.090668,4501.299402
min,1.000000,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,389.000000
25%,4512.250000,2.000000,6.400000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,154.000000,90.000000,1940.000000,-37.854900,144.932200,4217.000000
50%,8991.500000,3.000000,8.900000e+05,9.200000,3083.000000,3.000000,1.000000,1.000000,381.000000,123.000000,1970.000000,-37.802900,144.997400,6567.000000
75%,13434.250000,3.000000,1.320000e+06,12.400000,3146.000000,3.000000,2.000000,2.000000,636.000000,170.000000,1999.000000,-37.759635,145.051000,10331.000000
max,17902.000000,12.000000,8.000000e+06,47.400000,3978.000000,20.000000,8.000000,10.000000,76000.000000,6791.000000,2018.000000,-37.453100,145.526350,21650.000000

In [58]:
# Tells us if any value in the dataset is null
df.isna()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13925,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
13926,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
13927,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
13928,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
13929,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [59]:
# any missing value is filled based on the corresponding value in the previous row
df = df.ffill()
# Fills based on backward values
df = df.bfill()
df

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,79.0,1900.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,150.0,1900.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13925,17895,Blackburn South,17 Drummond St,3,h,1246000.0,SA,Fletchers,12/08/2017,13.4,...,1.0,2.0,702.0,161.0,1965.0,Whitehorse,-37.83504,145.15941,Eastern Metropolitan,4387.0
13926,17898,Boronia,1/347 Boronia Rd,4,t,740000.0,PI,Barry,12/08/2017,25.0,...,2.0,2.0,261.0,161.0,1965.0,Knox,-37.85784,145.26022,Eastern Metropolitan,9704.0
13927,17900,Box Hill,13 Patricia St,3,h,1525000.0,PI,VICProp,12/08/2017,10.9,...,1.0,1.0,904.0,161.0,1965.0,Whitehorse,-37.82694,145.12465,Eastern Metropolitan,4605.0
13928,17901,Box Hill,2/1129 Whitehorse Rd,2,t,730000.0,PI,McGrath,12/08/2017,10.9,...,2.0,1.0,126.0,161.0,2012.0,Whitehorse,-37.81900,145.13537,Eastern Metropolitan,4605.0
13929,17902,Briar Hill,31 Boyce Av,3,h,830000.0,S,Buckingham,12/08/2017,16.1,...,2.0,1.0,126.0,161.0,2012.0,Whitehorse,-37.81900,145.13537,Eastern Metropolitan,4605.0

In [60]:
# Shows no of rows and column
df.shape

(13930, 22)

In [61]:
# shows all the datatypes
df.dtypes

Unnamed: 0         int64
Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [62]:
df=df.astype({'YearBuilt': int})
df.dtypes

Unnamed: 0         int64
Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt          int64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [63]:
df

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,79.0,1900,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,150.0,1900,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13925,17895,Blackburn South,17 Drummond St,3,h,1246000.0,SA,Fletchers,12/08/2017,13.4,...,1.0,2.0,702.0,161.0,1965,Whitehorse,-37.83504,145.15941,Eastern Metropolitan,4387.0
13926,17898,Boronia,1/347 Boronia Rd,4,t,740000.0,PI,Barry,12/08/2017,25.0,...,2.0,2.0,261.0,161.0,1965,Knox,-37.85784,145.26022,Eastern Metropolitan,9704.0
13927,17900,Box Hill,13 Patricia St,3,h,1525000.0,PI,VICProp,12/08/2017,10.9,...,1.0,1.0,904.0,161.0,1965,Whitehorse,-37.82694,145.12465,Eastern Metropolitan,4605.0
13928,17901,Box Hill,2/1129 Whitehorse Rd,2,t,730000.0,PI,McGrath,12/08/2017,10.9,...,2.0,1.0,126.0,161.0,2012,Whitehorse,-37.81900,145.13537,Eastern Metropolitan,4605.0
13929,17902,Briar Hill,31 Boyce Av,3,h,830000.0,S,Buckingham,12/08/2017,16.1,...,2.0,1.0,126.0,161.0,2012,Whitehorse,-37.81900,145.13537,Eastern Metropolitan,4605.0

In [64]:
# Normalization -> Means Feature Scaling
# Now if a column has greater scale (val) as compared to other column it will have significant impact than the others
df['Price'] = (df['Price'] - df['Price'].min())/(df['Price'].max()-df['Price'].min())
# How the Price column will vary from 0 to 1
df

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,0.176248,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,79.0,1900,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,0.120025,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,0.174352,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,0.096652,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,150.0,1900,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,0.191409,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13925,17895,Blackburn South,17 Drummond St,3,h,0.146684,SA,Fletchers,12/08/2017,13.4,...,1.0,2.0,702.0,161.0,1965,Whitehorse,-37.83504,145.15941,Eastern Metropolitan,4387.0
13926,17898,Boronia,1/347 Boronia Rd,4,t,0.082754,PI,Barry,12/08/2017,25.0,...,2.0,2.0,261.0,161.0,1965,Knox,-37.85784,145.26022,Eastern Metropolitan,9704.0
13927,17900,Box Hill,13 Patricia St,3,h,0.181933,PI,VICProp,12/08/2017,10.9,...,1.0,1.0,904.0,161.0,1965,Whitehorse,-37.82694,145.12465,Eastern Metropolitan,4605.0
13928,17901,Box Hill,2/1129 Whitehorse Rd,2,t,0.081491,PI,McGrath,12/08/2017,10.9,...,2.0,1.0,126.0,161.0,2012,Whitehorse,-37.81900,145.13537,Eastern Metropolitan,4605.0
13929,17902,Briar Hill,31 Boyce Av,3,h,0.094125,S,Buckingham,12/08/2017,16.1,...,2.0,1.0,126.0,161.0,2012,Whitehorse,-37.81900,145.13537,Eastern Metropolitan,4605.0

In [65]:
df['Type'].unique()

array(['h', 't', 'u'], dtype=object)

In [66]:
# Catagoral values to numberical form
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()

dt = df['Type'].to_numpy().reshape(-1,1)
arr = enc.fit_transform(dt).toarray()
arr

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [67]:
# Transform 
# df['Type'] = df['Type'].replace({'h': 0, 't': 1, 'u' : 2})\
# This is not a correct way of doing it